<header>
  <!-- Back Arrow in Header -->
  <a href="<%= home_index_path %>" class="back-arrow"><i class="fas fa-arrow-left"></i> Back</a>
  <h1>Report Found Item</h1>
  <p>Help others by reporting a found item.</p>
</header>

<div class="container">
  <%= form_with model: @found_item, url: report_found_items_items_path, html: { id: "report-form", enctype: "multipart/form-data", data: { controller: "image-upload form-toggle" } }, local: true do |form| %>
    <div class="form-group">
      <%= form.label :report_type, "Report Type", class: "form-label" %>
      <%= form.select :report_type, options_for_select([["Report New Found Item", "new"], ["Report Already Lost Item", "existing"]]), {}, { id: "report-type", class: "form-input", data: { action: "change->form-toggle#toggleFields" } } %>
    </div>

    <!-- Fields for New Found Item -->
    <div id="new-found-item-fields.active" data-form-toggle-target="newFoundItemFields">
      <div class="form-group">
        <%= form.label :name, class: "form-label" do %>
          <i class="fas fa-box"></i> Item Name
        <% end %>
        <%= form.text_field :name, id: "item-name", placeholder: "Enter the item name", class: "form-input", required: true %>
      </div>

      <div class="form-group">
        <%= form.label :description, class: "form-label" do %>
          <i class="fas fa-align-left"></i> Description
        <% end %>
        <%= form.text_area :description, id: "item-description", placeholder: "Provide a brief description of the item", class: "form-input", required: true %>
      </div>
    </div>


    <!-- Fields for Already Lost Item -->
    <div id="existing-lost-item-fields" data-form-toggle-target="existingLostItemFields" style="display: none;">
      <div class="form-group">
        <div data-controller="item-preview">
          <%= form.select :item_id,
                          options_for_select(Item.lost.map do |item|
                            ["#{item.name} - #{item.location} - #{item.description.truncate(30)}",
                             item.id, { 'data-img-src' => item.images.first.present? ? item.images.first.url : asset_path('default_item.jpeg') }]
                          end),
                          {},
                          { class: "form-input", data: { item_preview_target: "select", action: "change->item-preview#updatePreview" } }
          %>

          <div data-item-preview-target="preview"></div>
        </div>
      </div>
    </div>

    <!-- Common Fields -->
    <div class="form-group">
      <%= form.label :location, class: "form-label" do %>
        <i class="fas fa-map-marker-alt"></i> Location
      <% end %>
      <%= form.text_field :location, id: "location", placeholder: "Enter where the item was found", class: "form-input", required: true %>
    </div>

    <div class="form-group">
      <%= form.label :contact_information, class: "form-label" do %>
        <i class="fas fa-phone"></i> Contact Information
      <% end %>
      <%= form.telephone_field :contact_information, placeholder: "Enter your contact details",
                               pattern: "^(17|77)\\d{6}$",
                               title: "Phone number must be 8 digits and start with 17 or 77",
                               required: true %>
    </div>

    <div class="form-group">
      <%= form.label :images, "Upload Images" %>
      <%= form.file_field :images, multiple: true, accept: "image/*", data: { action: "change->image-upload#preview" } %>
    </div>

    <!-- Preview Area -->
    <div id="image-preview-container" data-image-upload-target="previewContainer"></div>

    <%= form.button(type: 'submit', class: "submit-button") do %>
      <i class="fas fa-paper-plane"></i> Submit
    <% end %>
  <% end %>
</div>
